{% load crispy_forms_tags %}
{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="uk">

	<head>
		<meta charset="UTF-8"/>
		<title>thing to do in defined city</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css" >
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.0.0/css/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="text-center">Expedia</h1>
                </div>
                <div class="col-xs-12">
                    <p class="lead text-center">Expedia’s Activities API offers Search to explore “things to do” in a
                        location of interest.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="alert alert-info" id="spinner">
						<p>Work goes on...</p>
						<i class="fa fa-refresh fa-spin" style="font-size:24px"></i>
					</div>
                    <div class="alert alert-danger" id="message">
                        <p></p>
                    </div>
                    {% crispy form %}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Category</th>
                                <th>Photo</th>
                            </tr>
                        </thead>
                        <tbody id="found_thing">
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-12">
                    <p id="r"></p>
                </div>
            </div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
            <script src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.0.0/js/bootstrap-datetimepicker.min.js"></script>
            <script src="{% static 'js/main.js' %}"></script>
            <!--<script src="/static/js/main.js"></script>-->
        </div>
    </body>
</html>